html {
    font-size: 0.938rem;
}

body {
    width: 100%;
    min-height: 100vh;
    @include flex(column, center, center);
    
    background: $theme-background-color;
    font-family: $theme-text-font;
    color: $theme-dark-blue-color;
}