@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;900&display=swap');

// Font Family
$theme-text-font: "Outfit", sans-serif;

// Primary
$theme-background-color: hsl(212, 45%, 89%);
$theme-background-color-alt: hsl(0, 0%, 100%);
$theme-grayish-color: hsl(220, 15%, 55%);
$theme-dark-blue-color: hsl(218, 44%, 22%);

// Font line-height
$theme-line-height: 1.9rem;

// Breakpoints
$screen-sm: 36em;       //576px Large smartphones
$screen-md: 48em;       //768px Small tablets
$screen-lg: 62em;       //992px Tablets
$screen-xl: 75em;       //1200px Desktops
$screen-xxl: 87.5em;    //1400px Large desktops

// Border shadow
$theme-box-shadow: 0 0.063rem 0.188rem rgba($theme-dark-blue-color, 0.12),
    0 0.063rem 0.125rem rgba($theme-dark-blue-color, 0.24);
$theme-box-shadow-hover: 0 0.875rem 1.75rem rgba($theme-dark-blue-color, 0.25), 
    0 0.625rem 0.625rem rgba($theme-dark-blue-color, 0.22);