.attribution {
    margin-top: 0.5rem;
    font-size: 0.735rem;
    text-align: center;

    a {
        color: $theme-dark-blue-color;
    }

    @include media-double-breakpoint-up($screen-sm, min-width, 640px, min-height) {
        position: fixed;
        bottom: 0.325rem;
        width: 100%;
    }

    @include media-hover-effect() {
        & a:hover  {
            color: $theme-grayish-color;
        }

        & a:focus-visible {
            outline: $theme-dark-blue-color dotted 0.188rem;
        }
    }
}