.card {
    background: $theme-background-color-alt;
    box-shadow: $theme-box-shadow;
    color: $theme-dark-blue-color;

    border-radius: 1.4rem;
    transition: all 0.3s ease-in-out;

    text-align: center;

    &__image {
        width: 100%;
        object-fit: contain;
        border-radius: 1rem;
    }

    &__title {
        margin: 1.3rem 0 0.77rem 0;
    }

    &__description {
        font-size: 1rem;
        letter-spacing: 0.013rem;
        margin: 0 0.6rem 1.832rem;

        color: $theme-grayish-color;
    }

    &--small {
        max-width: 21.4rem;
        padding: 0.95rem 1.1rem;
    }

    @include media-hover-effect() {
        &:hover {
            box-shadow: $theme-box-shadow-hover;
        }
    }
}